{% extends "menu.html" %}

{% load static %}

{% block title %}
    Справка пользователя
{% endblock %}

{% block css %}
	{% static 'css/spravka.css' %}
{% endblock %}

{% block content %}

<h1>СПРАВКА ПОЛЬЗОВАТЕЛЯ</h1>

<div class="fix">
     
    <h2>Общие сведения</h2>
        <div class="paragraph">Электронная библиотека “Vikilib” предназначена для просмотра и копирования необходимой информации. В&nbsp;электронной&nbsp;библиотке представлены учебники, лекции и другая необходимая литература, предназначенная для использования студентами СПбТБиИТ. Только зарегистрированный пользователь может иметь доступ к материалам электронной библиотеки. Сайт электронной библиотеки «Vikilib» поддерживается всеми популярными браузерами, такими как Google Chrome, Mozilla Firefox, Opera, Internet Explorer и другие. Если вы не нашли необходимую информацию, обращайтесь по адресу <a href="https://www.google.com/intl/ru/gmail/about/"> Vikilib.info@gmail.com</a>.</div>
    <h2>Регистрация</h2>
        <div class="paragraph">Прежде чем начинать работу в библиотеке, необходимо один раз заполнить регистрационную анкету. Там нужно указать логин и пароль, которые Вы будете использовать для входа в библиотеку. В дальнейшем Вы сможете входить в библиотеку с любого компьютера, подключенного к Интернет, используя указанные Вами логин и пароль. 
            Логин необходимо ввести латинскими буквами. Длина логина не должна превышать 20-ти символов. 
            Пароль может включать латинские буквы заглавные и прописные и символы (например, точка, запятая, восклицательный знак и тд.) Пароль не должен сдержать пробел или символы, которых нет в наборе на клавиатуре.         
        </div>
    <h2>Авторизация</h2>
        <div class="paragraph">При входе в Электронную библиотеку верно укажите свой логин и пароль. Если логин и/или пароль оказываются неверные, то поля очищаются. После того как вы зашли в ЭБ, вы можете просматривать, копировать и скачивать имеющиеся материалы. </div>
    <h2>Поиск</h2>
        <div class="paragraph">Для поиска документа необходимо ввести запрос в поле «Поиск», вводя необходимое слово (название или автора). Также Вы можете использовать расширенный поиск (раздел в боковом меню), в котором можете заполнить необходимые для Вашего поиска поля. Далее, нажимая на кнопку «поиск» Вы увидите материалы, соответствующие вашему поиску. </div>
    <h2>Избранное</h2>
        <div class="paragraph">В разделе "Избранное" сохраняются ваши книги, чтобы удалить из избранного нажмите кнопку "Удалить" напротив книги.</div>      
    <h2>Приятного чтения!</h2>
</div>

{% endblock %}